.app-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.app-title {
  text-align: center;
  color: black;
}

.button{cursor:pointer;padding: 10px;margin: 20px;position:relative;float:left;background:#e95e51;color: #fff;text-align: center;line-height:45px;border-radius:4px;}